<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Provectus ❤️ Open Source</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/assets/css/cayman.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/primer.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/octicons.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/assets/img/favicon.png" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ "/assets/js/projects.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/orgs.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/repos.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/loaders.js" | relative_url }}"></script>
  </head>
  <body>
    <section class="page-header">
      <div class="jumbotron jumbotron-inverse jumbotron-hero">
        <h1>Provectus ❤ Open Source</h1>
      </div>
      <a href="/" class="btn">HOME</a>
      <a target="_blank" href="https://github.com/provectus" class="btn">GITHUB</a>
      <a href="{{ "/contributions/" | relative_url}}" class="btn">CONTRIBUTIONS</a>
      <a target="_blank" href="https://provectus.com/careers" class="btn">CAREERS</a>
      <a target="_blank" href="https://provectus.com/insights/" class="btn">BLOG</a>
    </section>